/* login.module.css */

.container {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    background-color: var(--bg);
    width: 100%;
    height: 80vh;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 1rem;

}

.authLinks {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 40%;
    text-align: center;
}

.authLink {
    background-color: var(--bg);
    color: var(--textColor);
    padding: var(--padding-btn);
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: var(--font-weight-link);
    border: 1px solid var(--softTextColor);
}

.logoLight {
    filter: invert(0);
}

.logoDark {
    filter: invert(1);
}

.authLink:hover {
    background-color: var(--softBg);
}

.authLink span {
    margin-left: 5px;
}

.line {
    position: relative;
    align-items: center;
    height: 2px;
    width: 40%;
    margin-top: 2rem;
    background-color: var(--softBg);
}

.line span {
    position: absolute;
    top: -7px;
    left: 50%;
    width: 60%;
    transform: translateX(-50%);
    background-color: var(--softBg);
    padding: 0 10px;
    color: var(--softTextColor);
    text-align: center;
    font-size: 14px;
}

.form {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 2rem;
}

.form label {
    font-size: 16px;
    font-weight: 500;
}

.form input {
    padding: 4px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid var(--softTextColor);
    height: 2rem;
    background-color: var(--bg);

}

.form input:focus {
    outline: none;
    border: 1px solid var(--primaryBlue);
}

.form .btn {
    background-color: var(--softBg);
    color: var(--textColor);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

@media screen and (max-width: 768px) {
    .container {
        height: 100vh;
    }

    .authLinks {
        width: 80%;
    }

    .form {
        width: 80%;
    }
}
