.link {
    background-color: var(--bg);
    color: var(--textColor);
    padding: var(--padding-btn);
    border-radius: var(--border-radius-btn);
    cursor: pointer;
    font-size: var(--font-size-btn) !important;
    font-weight: var(--font-weight-link);
}

.link:hover {
    background-color: var(--softBg);
}