.container {
    display: flex;
    padding-top: 10px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg);
}

.container a,
.btn {
    font-weight: var(--font-weight-link);
}


.logo {
    font-size: 2rem;
    font-weight: 700;
    flex: 1;
}

.links {
    flex: 1;
    display: flex;
    gap: 1rem;
    align-items: center;
    position: relative;
}

.container a {
    font-size: var(--font-size-link);
}

.btn {
    background-color: var(--bg);
    color: var(--textColor);
    padding: var(--padding-btn);
    border-radius: var(--border-radius-btn);
    cursor: pointer;
    font-size: var(--font-size-btn);
}

.btn:hover {
    background-color: var(--softBg);
}

.dropdown {
    display: none;
    visibility: hidden;
}

.dropdown__icon_light {
    filter: invert(0);
}

.dropdown__icon_dark {
    filter: invert(1);
}


@media screen and (max-width: 1024px) {
    .links {
        display: none;
        visibility: hidden;
    }

    .dropdown {
        display: flex;
        visibility: visible;
        flex-direction: row;
        align-items: center;
    }
}
